<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.lesfrancschatons.cordova.plugins.locationpermissions"
        version="1.0.0">

    <name>Location Permissions</name>

    <description>Checks location permissions on IOS</description>
    <keywords>ios,permissions,location</keywords>
    <license>MIT</license>

    <author>Emmanuel Tabard</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/ios/LocationPermissions.js" name="LocationPermissions">
            <clobbers target="cordova.plugins.LocationPermissions" />
        </js-module>

        <config-file target="config.xml" parent="/*">
    		<feature name="LocationPermissions">
    			<param name="ios-package" value="LocationPermissions"/>
    		</feature>
        </config-file>

    	<header-file src="src/ios/LocationPermissions.h" />
    	<source-file src="src/ios/LocationPermissions.m" />
        <framework src="CoreLocation.framework" />
        
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string></string>
        </config-file>
    </platform>

</plugin>
